<div class="note-container">

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Take a Note !!!
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="note-form" [formGroup]="noteForm" (ngSubmit)="addNote()">

        <div class="note-form">

            <mat-form-field>
                <input matInput placeholder="Enter Note Title" 
                formControlName="title">

                <mat-error *ngIf ="noteForm.get('title').dirty 
                && noteForm.get('title').hasError('required')"> NoteTitle is required field</mat-error>

            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Enter Note Description" 
                formControlName="text"></textarea>

            </mat-form-field>

            <button class="btn btn-primary">Add Note!!!</button>

        </div>
    </form>

    </mat-expansion-panel>
</div>