mat-expansion-panel
{
    background-color: cadetblue;
}

.note-container
{
    margin-top: 10vh;
    margin-left: 15vw;

    width: 50vw;
}

.note-form
{
    display: flex;
    flex-direction: column;
}
